.mainPage{
  position: relative; 
  width: 100%;
  height: 100vh; 
}
.mainPageImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.logo{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  width: 13vw;
  height: 9.6vh;
}
.h1Main{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 3rem;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.parentsMain0 {
  display: grid;
  grid-template-columns: repeat(2, 650px);
  align-items: center;
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.parents0, .parents1 {
  display: flex;
  justify-content: space-between;
}

/* .parentB1, .parentB2 {
  width: 31vw;
  height: 23.2vh;
  background-color: rgba(212, 193, 52, 0.97);
  filter: blur(80px);
} */
.h2G{
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: white;
}
.divG{
  position: absolute;
  top: 65%;
  left: 12%;
}
.logoG{
  width: 13vw;
  height: 9.6vh;
}
.h2G1{
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: white;
}
.divG1{
  position: absolute;
  top: 65%;
  left: 61%;
}
.logoG1{
  width: 7vw;
  height: 11vh;
}
.link{
  text-decoration: none;
  list-style: none;
  color: white;
}
.link2{
  text-decoration: none;
  list-style: none;
  color: white;
}

@media screen and (max-width: 450px){
  .mainPageImg{
    max-width: 450px;
    height: 100%;
  }
  .h1Mainh{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .divG61{
    display: flex;
    flex-direction: column;
  }
  .h2G{
    font-size: 20px;
  }
  .h2G1{
    font-size: 20px;
  }
  .logoG{
    width: 117px;
    height: 41px;
  }
  .logoG1{
    width: 62px;
    height: 46px;
  }
  .logo{
    width: 142px;
    height: 41px;
  }
}

/* @media (max-width: 450px){

} */