.aboutPage {
    position: relative;
    width: 100%;
    height: 110vh;
  }
  
  .aboutPageImg {
    width: 100%;
    height: 740vh;
    object-fit: cover;
  }
  .header {
    position: absolute; 
    top: 0;             
    left: 0;            
    width: 100%;       
    z-index: 10;       
  }
.abouth1{
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20%;
  left: 25%;
}
.aboutp{
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: rgba(239, 218, 63, 0.97);
  position: absolute;
  top: 35%;
  left: 22%;
  text-align: center;
}
.divp{
    margin: auto;
}
.divg{
    top: 45%;
    left: 13%;
    position: absolute;
    opacity: 2;
    width: 75vw;
    height: 57vh;
    background: linear-gradient(90deg, rgba(30, 153, 161, 1) 0%, rgba(11, 56, 59, 0.24) 100%);
    box-shadow: 2px 2px 2px black;
}
.divgp{
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 5%;
    right: 5%;
    top: 10%;
}
.divgp2{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 5%;
    right: 5%;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    top: 42%;
}
.divgp3{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 5%;
    right: 5%;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    top: 70%;
}
.divp3{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: rgba(239, 218, 63, 0.97);
    position: absolute;
    top: 105%;
    left: 22%;
    text-align: center;
}
.divg0{
    top: 115%;
    left: 13%;
    position: absolute;
    opacity: 2;
    width: 49vw;
    height: 13vh;
    background: linear-gradient(90deg, rgba(185, 99, 46, 1) 0%, rgba(241, 226, 118, 0.55) 100%);
    box-shadow: 2px 2px 2px black;
}
.divgp0{
    text-align: center;
    position: absolute;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.97);
    top: 30%;
    left: 5%;
}
.divp2p{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.97);
    font-size: 30px;
    position: absolute;
    top: 135%;
    left: 13%;
}
.values1{
    width: 25.07vw;
    height: 28.26vh;
}
.values2{
    width: 25.07vw;
    height: 28.26vh;
}
.values3{
    width: 25.07vw;
    height: 28.26vh;
}
.imgs{
    position: absolute;
    left: 13%;
    display: grid;
    top: 150%;
    grid-template-columns: repeat(3, 400px);
}
.divp2p0{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    top: 180%;
}
.divp2p1{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 200%;
}
.divp2p2{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 205%;
}
.divp2p3{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 210%;
}

.divg1{
    top: 225%;
    left: 13%;
    position: absolute;
    opacity: 2;
    width: 49vw;
    height: 13vh;
    background: linear-gradient(90deg, rgba(185, 99, 46, 1) 0%, rgba(241, 226, 118, 0.55) 100%);
    box-shadow: 2px 2px 2px black;
}
.divgp1{
    text-align: center;
    position: absolute;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.97);
    top: 30%;
    left: 5%;
}
.divp3p{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.97);
    font-size: 30px;
    position: absolute;
    top: 243%;
    left: 13%;
}
.values4{
    width: 16.11vw;
    height: 40.028vh;
}
.values5{
    width: 28.63vw;
    height: 40vh;
}
.values6{
    width: 16.11vw;
    height: 40.028vh;
}
.imgs1{
    position: absolute;
    left: 17%;
    display: flex;
    gap: 20px;
    top: 255%;
}
.divp3p0{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 5%;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    top: 295%;
}
.divp3p1{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 315%;
}
.divp3p2{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 320%;
}
.divp3p3{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 325%;
}

.divnew{
    top: 340%;
    left: 13%;
    position: absolute;
    opacity: 2;
    width: 49vw;
    height: 13vh;
    background: linear-gradient(90deg, rgba(185, 99, 46, 1) 0%, rgba(241, 226, 118, 0.55) 100%);
    box-shadow: 2px 2px 2px black;
}
.divnew2{
    text-align: center;
    position: absolute;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.97);
    top: 20%;
    left: 5%;
}
.divnewp{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.97);
    font-size: 30px;
    position: absolute;
    top: 360%;
    left: 13%;
}
.values7{
    width: 23vw;
    height: 33.33vh;
}
.values8{
    width: 23vw;
    height: 33.33vh;
}
.values9{
    width: 23vw;
    height: 33.33vh;
}
.imgsnew{
    position: absolute;
    left: 13%;
    display: flex;
    gap: 20px;
    top: 370%;
}
.div4pnew{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    top: 405%;
}
.divnew6p1{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 427%;
}
.divnew6p2{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 432%;
}
.divnewp6p3{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 437%;
}

.divprelast{
    top: 450%;
    left: 13%;
    position: absolute;
    opacity: 2;
    width: 49vw;
    height: 13vh;
    background: linear-gradient(90deg, rgba(185, 99, 46, 1) 0%, rgba(241, 226, 118, 0.55) 100%);
    box-shadow: 2px 2px 2px black;
}
.divprelast2{
    text-align: center;
    position: absolute;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.97);
    top: 30%;
    left: 5%;
}
.divprelastp{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.97);
    font-size: 30px;
    position: absolute;
    top: 470%;
    left: 13%;
}
.values10{
    width: 13.8vw;
    height: 33.33vh;
}
.values11{
    width: 17.3vw;
    height: 33.33vh;
}
.values12{
    width: 16vw;
    height: 33.33vh;
}
.values13{
    width: 22vw;
    height: 33.33vh;
}
.imgsprelast{
    position: absolute;
    left: 13%;
    display: flex;
    gap: 20px;
    top: 480%;
}
.div4prenew{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    top: 515%;
}
.divprenew6p1{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 535%;
}
.divprenew6p2{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 540%;
}
.divprenewp6p3{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 545%;
}

.divlast{
    top: 560%;
    left: 13%;
    position: absolute;
    opacity: 2;
    width: 49vw;
    height: 13vh;
    background: linear-gradient(90deg, rgba(185, 99, 46, 1) 0%, rgba(241, 226, 118, 0.55) 100%);
    box-shadow: 2px 2px 2px black;
}
.divlast2{
    text-align: center;
    position: absolute;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.97);
    top: 30%;
    left: 5%;
}
.divlastp{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.97);
    font-size: 30px;
    position: absolute;
    top: 579%;
    left: 13%;
}
.values14{
    width: 13.8vw;
    height: 33.33vh;
}
.values15{
    width: 23.8vw;
    height: 33.33vh;
}
.imgslast{
    position: absolute;
    left: 13%;
    display: flex;
    gap: 20px;
    top: 595%;
}
.div4last{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    text-align: center;
    top: 635%;
}
.divlast6p1{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 655%;
}
.divlast6p2{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 660%;
}
.divlastp6p3{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    left: 13%;
    font-size: 27px;
    color: rgba(212, 193, 52, 1);
    position: absolute;
    text-align: center;
    top: 665%;
}

@media screen and (max-width: 450px){
    .abouth1{
        font-size: 17px;
        top: 13%;
    }
    .aboutp{
        font-size: 14px;
        left: 10%;
        top: 23%;
    }
    .divg{
        width: 388px;
        height: 327px;
        top: 30%;
        left: 5%;
    }
    .divgp{
        font-size: 14px;
    }
    .divgp2{
        font-size: 14px;
    }
    .divgp3{
        font-size: 14px;
    }
    .divp3{
        font-size: 14px;
        top: 60%;
        left: 10%;
    }
    .divg0{
        width: 282.45px;
        height: 40px;
        top: 64%;
        left: 5%;
    }
    .divgp0{
        font-size: 11px;
    }
    .divp2p{
        font-size: 10px;
        top: 70%;
        left: 5%;
    }
    .values1, .values2, .values3{
        width: 120.52px;
        height: 73px;
    }
    .imgs{
        display: grid;
        grid-template-columns: repeat(3, 135px);
        left: 5%;
        top: 75%;
    }
    .divp2p0{
        font-size: 10px;
        top: 84%;
        left: 5%;
    }
    .divp2p1{
        font-size: 11px;
        top: 90%;
        left: 5%;
    }
    .divp2p2{
        font-size: 11px;
        top: 93%;
        left: 5%;
    }
    .divp2p3{
        font-size: 11px;
        top: 96%;
        left: 2%;
    }


    .divgp1{
        font-size: 11px;
    }
    .divg1{
        top: 100%;
        left: 5%;
        width: 282.45px;
        height: 40px;
    }
    .divp3p{
        font-size: 10px;
        top: 106%;
        left: 5%;
    }
    .values4, .values5, .values6{
        width: 120.52px;
        height: 73px;
    }
    .imgs1{
        display: grid;
        grid-template-columns: repeat(3, 115px);
        left: 5%;
        top: 111%;
    }
    .divp3p0{
        font-size: 10px;
        top: 121%;
        left: 5%;
    }
    .divp3p1{
        font-size: 11px;
        top: 128%;
        left: 5%;
    }
    .divp3p2{
        font-size: 11px;
        top: 131%;
        left: 5%;
    }
    .divp3p3{
        font-size: 11px;
        top: 134%;
        left: 2%;
    }


    .divnew2{
        font-size: 11px;
    }
    .divnew{
        top: 138%;
        left: 5%;
        width: 282.45px;
        height: 40px;
    }
    .divnewp{
        font-size: 10px;
        top: 144%;
        left: 5%;
    }
    .values7, .values8, .values9{
        width: 120.52px;
        height: 73px;
    }
    .imgsnew{
        display: grid;
        grid-template-columns: repeat(3, 115px);
        left: 5%;
        top: 147%;
    }
    .div4pnew{
        font-size: 10px;
        top: 156%;
        left: 5%;
    }
    .divnew6p1{
        font-size: 11px;
        top: 161%;
        left: 5%;
    }
    .divnew6p2{
        font-size: 11px;
        top: 164%;
        left: 5%;
    }
    .divnewp6p3{
        font-size: 11px;
        top: 167%;
        left: 2%;
    }


    .divprelast2{
        font-size: 11px;
    }
    .divprelast{
        top: 172%;
        left: 5%;
        width: 282.45px;
        height: 40px;
    }
    .divprelastp{
        font-size: 10px;
        top: 178%;
        left: 5%;
    }
    .values10{
        width: 56px;
        height: 73px;
    }
    .values11{
        width: 71;
        height: 73px;
    }
    .values12{
        width: 65px;
        height: 73px;
    }
    .values13{
        width: 90px;
        height: 73px;
    }
    .imgsprelast{
        display: grid;
        grid-template-columns: repeat(4, 80px);
        left: 5%;
        top: 181%;
    }
    .div4prenew{
        font-size: 10px;
        top: 190%;
        left: 5%;
    }
    .divprenew6p1{
        font-size: 11px;
        top: 195%;
        left: 5%;
    }
    .divprenew6p2{
        font-size: 11px;
        top: 197%;
        left: 5%;
    }
    .divprenewp6p3{
        font-size: 11px;
        top: 200%;
        left: 2%;
    }


    .divlast2{
        font-size: 11px;
    }
    .divlast{
        top: 205%;
        left: 5%;
        width: 282.45px;
        height: 40px;
    }
    .divlastp{
        font-size: 10px;
        top: 211%;
        left: 5%;
    }
    .values14{
        width: 120.52;
        height: 73px;
    }
    .values15{
        width: 120.52;
        height: 73px;
    }
    .imgslast{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        left: 5%;
        top: 215%;
    }
    .div4last{
        font-size: 10px;
        top: 224%;
        left: 5%;
    }
    .divlast6p1{
        font-size: 11px;
        top: 229%;
        left: 5%;
    }
    .divlast6p2{
        font-size: 11px;
        top: 232%;
        left: 5%;
    }
    .divlastp6p3{
        font-size: 11px;
        top: 235%;
        left: 2%;
    }
    .aboutPageImg{
        height: 280vh;
        max-width: 450px;
    }
}